@{
    ViewData["Title"] = "Home Page";
}

<div class="Navigation-bar">
    <a href="@Url.Action("Privacy", "Home", new{username= "mzamon"} )">Privacy</a> 
</div>

<!--
    <a href="@Url.Action("LecturerPartial", "Home")"class="nav-link">Lecturer View</a> |
-->