@* Partial: Coordinator View *@
<div class="coordinator-view">

	<h2>Coordinator Claim Verification</h2>

	<!--Test Message-->
	<p>Below are the claims submitted by lecturers Test data is used below?</p>

	<table class="claims-table">
		<thread>
			<tr>
				<th>Lecturer</th>
				<th>Hours</th>	
				<th>Rate</th>
				<th>Notes</th>
				<th>Documents</th>
				<th>Actions</th>
			</tr>
		</thread>
		<!--Sample Data-->
		<tbody>
			<tr>
				<td>Mzamo Ndlovu</td>
				<td>10</td>
				<td>R550</td>
				<td>Tutor classes</td>
				<!--This must be able to view pdf-->
				<td><a href="#">view.pdf</a></td>
				<td>
					<button class="btn-approve">Approve</button>
					<button class="btn-reject">Reject</button>
			</tr>
		</tbody>
	</table>
</div>