@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}
<div class="container">

    <!--Navigation-->
    <nav style="margin-bottom:20px;">
        <a href="@Url.Action("LecturerPartial", "Home")"class="nav-link">Lecturer View</a> |
        <a href="@Url.Action("CoordinatorPartial", "Home")"class="nav-link">Coordinator View</a> |        
        <a href="@Url.Action("ManagerPartial", "Home")"class="nav-link">Manager View</a |
        
        <div class="right">
            <a href="@Url.Action("LogoutPartial", "Home")" class="btn-logout">Logout</a>
        </div>
        
    </nav>

    <h1>Contract Monthly Claim System v1.0</h1>
    <p>Welcome to the Contract Monthly Claim v1.0 prototype! Feel free to navigate through the app for beta testing.</p>
    
    <div id="partial-container"
         style="margin-top:20px; 
         border-top:1px solid #ccc; 
         padding-top:15px;">
        <p>Please proceed</p>
    </div>
    
</div>

    <script>
        document.querySelectorAll('nav a').forEach(link => {
                link.addEventListener('click', function(e){
                    e.preventDefault();
                    fetch(this.href)
                        .then(response => response.text())
                        .then(html => document.getElementById('partial-container').innerHTML = html);
                });
        });
    </script>
